<%
switch(page) {
	case 'index':
		title = '';
		subTitle = 'An open source query based message hub.';
		jsfile = 'index.js';
		stylefile = 'index.css';
		mainfile = 'index.md';
	break; 
	case 'docs':
		title = 'docs';
		subTitle = 'documentation';
		stylefile = 'docs.css';
		mainfile = 'docs.md';
	break;
	case 'about':
		title = 'about';
		subTitle = 'the mission'
		stylefile = 'about.css';
		mainfile = 'about.md';
};
%>
<!DOCTYPE html> 
<html> 
	<head> 
		<title>pubsub.io <%= title %></title> 
		<link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>		
		<link href="/s/reset.css" rel="stylesheet" type="text/css">
		<link href="/s/style.css" rel="stylesheet" type="text/css">
		<style><%- file(stylefile) %></style>
	</head> 
	<body> 
		<div id='nav'>
			<a href='/about'>about</a>
			<a href='/docs'>documentation</a>
			<a href='/slides'>slides</a>
			<a href='https://github.com/pubsubio'>github</a>
			<div id='by'>
				<a href='http://twitter.com/ianjorgensen'>@ianjorgensen</a>
				<a href='http://twitter.com/mafintosh'>@mafintosh</a>
			</div>
		</div>
		<div id='main'>
			<div class='logo'>PUBSUB.IO</div>
			<% if (subTitle) {%>
			<h2 class='sub-text'><%= subTitle %></h2> 
			<% } %>
			<%- file(mainfile) %>
		</div>
		<script src='/s/sh.js'></script>
		<script><%- file(jsfile) %></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24599059-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body> 
</html>